@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #e5eaf0;
  font-family: 'Sora', sans-serif;
}

.card {
  max-width: 368px;
  margin: 164px auto;
}

.container {
  border: 1px solid transparent;
  border-radius: 5%;
  background-color: #ffffff;
}

.header {
  padding: 16px 16px 20px;
}

.image {
  height: 152px;
  width: 100%;
  border-radius: 20px;
}

.tag {
  margin-top: 16px;
  padding: 6px 16px;
  font-size: 0.625rem;
  color: #6a0dad;
  background-color: #e6ccff;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.title {
  margin: 16px 0 0;
  font-size: 1.125rem;
}

.description {
  font-size: 0.875rem;
  color: #6c727f;
  margin: 6px 0 0;
}

.line {
  border: 0.5px solid #e5eaf0;
  width: 100%;
  margin: 0;
}
.footer {
  margin: 20px 16px;
}
.name {
  font-size: 0.75rem;
  color: #6c727f;
}
